@font-face {
    font-family: 'Aaarghnormal';
    src: url('../fonts/Aaargh-webfont.eot');
    src: url('../fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aaargh-webfont.woff') format('woff'),
         url('../fonts/Aaargh-webfont.ttf') format('truetype'),
         url('../fonts/Aaargh-webfont.svg#../fonts/Aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Bellotalight';
    src: url('../fonts/Bellota-Light-webfont.eot');
    src: url('../fonts/Bellota-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bellota-Light-webfont.woff') format('woff'),
         url('../fonts/Bellota-Light-webfont.ttf') format('truetype'),
         url('../fonts/Bellota-Light-webfont.svg#../fonts/Bellotalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	background-color: #880909;
	margin: auto 0;
	width: auto;
	overflow: hidden;
}
#sideBar{
	background-color: #e85657;
	min-height: 700px;
	width: 300px;
	margin: -10px 0 0 -7px;
	transform: translateX(0);
	position:absolute;
	z-index: 0;
}

.sidebarHeader{
	font-family: Aaarghnormal;
	color: #bb4445;
	font-weight: 300;
	padding: 0.9em 0 0.7em 1em;
	font-size: 2em;
}
.crossicon{
	float: right;
	padding: 15px 10px 0 0;
	cursor: pointer;
	cursor: hand;
}
#sidehrline{
	border-top: 1px solid #bb4445;
	margin-left: 20px;
}
.icon{
	font-family: Aaarghnormal;
	color: #fff;
	padding: 0.5em 0 0.5em 2em;
	font-size: 17px;
	vertical-align: middle;
}
.iconimg{
	height: 30px;
	width: 30px;
	display: inline;
	margin-right: 20px;
}
.icon:hover{
	background-color: #bb4445;
	cursor: pointer;
	transition: all 0.5s;
}
.headerIcon{
	height: 120px;
	width: auto;
	display: inline-block;
	float: left;
	margin-top: -1px;
	cursor: pointer;
	cursor: hand;
}
#titlename{
	font: small-caps 22px Bellotalight;
	display: block;
	padding-top: 35px;
	margin-top: -8px;
	color: #aaa;
	}
section{
	margin: 0px -8px 0 -8px;
	background-color: #f0faf1;
	min-height: 700px;
	transition: all 0.5s;
	position: relative;
}
.section1{
	margin: 0px -8px 0 -8px;
	background-color: #f0faf1;
	min-height: 700px;
	transform:translateX(22%);
	-webkit-transform: translateX(22%);
	overflow: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#sideBorder{
	border-right: 1px solid #ccc;
	height: auto;
	padding: 20px 40px 20px 48px;
	display: inline-block;
	}
.newSheet{
	width: 90px;
	text-align: center;
	border: 0px solid #1ecd97;
	background-color: #1ecd97;
	color: #f0faf1;
	font-family: arial;
	padding: 10px;
	cursor: pointer;
	cursor: hand;
	display: inline-block;
	}
#internalFirst{
	padding:20px;
	}
#internalField{
	border: 2px solid #1ecd97;
	margin-top: 30px;
}
#click{
	background-color: #1ecd97;
	padding-top: 2px;
}
#table{
	width: 500px;
	margin: 50px auto;
}
.button{
	padding: 4px 8px;
	font-family: sans;
	font-size: 15px;
	background-color: #1ecd97;
	color: #f0faf1;
	border: 0 solid #000;
	display: inline;
	cursor: pointer;
	cursor: hand;
}
.button:hover{
	background-color: #f0faf1;
	color: #1ecd97;
	transition: all 0.2s;
}
#autosave{
	font-family: Aaarghnormal;
	color: #344;
	font-size: 15px;
	float: right;
	padding-right: 40px;
}
