@font-face {
    font-family: 'aaarghnormal';
    src: url('Aaargh-webfont.eot');
    src: url('Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aaargh-webfont.woff') format('woff'),
         url('Aaargh-webfont.ttf') format('truetype'),
         url('Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	background-color: #5f545a;
}
#sideBar{
	background-color: #e85657;
	min-height: 900px;
	width: 300px;
	transform: translateY(-300%);
	margin: -10px 0 0 -7px;
display: none;
}
.sidebarHeader{
	font-family: aaarghnormal;
	color: #bb4445;
	font-weight: 300;
	padding: 0.9em 0 0.7em 1em;
	font-size: 2em;
}
.crossicon{
	position absolute;
	float: right;
	color: #fff;
	font-family: sans;
	padding-right: 5px;
	cursor: pointer;
	cursor: hand;
}
#sidehrline{
	border-top: 1px solid #bb4445;
}
.icon{
	font-family: arial;
	color: #fff;
	padding: 1em 0 1em 3em;
	font-size: 17px;
}
.icon:hover{
	background-color: #bb4445;
	cursor: pointer;
	transition: all 0.5s;
}
section{
	margin: -8px -8px -8px -6px;
	background-color: #efefef;
}
.headerIcon{
	position: absolute;
	margin: -10px 0 0 0;
	display:none;
}
