@font-face {
    font-family: 'Aaarghnormal';
    src: url('../fonts/Aaargh-webfont.eot');
    src: url('../fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Aaargh-webfont.woff') format('woff'),
         url('../fonts/Aaargh-webfont.ttf') format('truetype'),
         url('../fonts/Aaargh-webfont.svg#../fonts/Aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Bellotalight';
    src: url('../fonts/Bellota-Light-webfont.eot');
    src: url('../fonts/Bellota-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bellota-Light-webfont.woff') format('woff'),
         url('../fonts/Bellota-Light-webfont.ttf') format('truetype'),
         url('../fonts/Bellota-Light-webfont.svg#../fonts/Bellotalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
#beforelogin{
/*	display: none;*/
	}
#loginform{
	transform: translateX(325%);	
	position: absolute;
	margin: 20px;
	}
.p_word{
	border: 2px solid #ccc;
	border-radius: 2px;
	padding: 5px;
	width: 200px;
	background: transparent;
	font-size: 18px;
	color: #fff;
	text-align: center;
	}
.login_button{
	margin-left: 20px;
	font-family: Aaarghnormal;
	color: #fff;
	font-size: 18px;
	border: 0 solid #ccc;
	background: transparent;
	cursor: pointer;
	cursor: hand;
	}
.login_page{
	width: 1350px;
	margin: 0 auto;
	}
#outIntro{
	color: #fff;
	font-family: Aaarghnormal;
	position: absolute;
	margin: -560px 0 0 200px;

	}
.inIntro1{
	display: inline-block;
	border-right: 1px solid #fff;
	padding: 0 30px;
	}
.inIntro2{
	display: inline-block;
	verticle-align: middle;
	padding: 0 30px;
	}
	
.intro1{
	font-size: 38px;
	padding: 10px 0;
	}
.intro2{
	font-size: 25px;
	padding: 10px 0;
	}
#afterlogin{
	display: none;
	}
body{
	background-color: #880909;
	margin: auto 0;
	width: auto;
	overflow-x: hidden;
	--webkit-overflow-x: hidden;
}
#sideBar{
	background-color: #e85657;
	min-height: 700px;
	width: 300px;
	margin: -10px 0 0 -7px;
	transform: translateX(-4%);
	-webkit-transform: translateX(-4%);
	position:absolute;
	z-index: 0;
}

.sidebarHeader{
	font-family: Aaarghnormal;
	color: #bb4445;
	font-weight: 300;
	padding: 0.9em 0 0.7em 2em;
	font-size: 2em;
}
.crossicon{
	float: right;
	padding: 15px 10px 0 0;
	cursor: pointer;
	cursor: hand;
}
#sidehrline{
	border-top: 1px solid #bb4445;
	margin-left: 20px;
}
.icon{
	font-family: Aaarghnormal;
	color: #fff;
	padding: 0.5em 0 0.5em 3.5em;
	font-size: 17px;
	vertical-align: middle;
}
.iconimg{
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
}
.icon:hover{
	background-color: #bb4445;
	cursor: pointer;
	transition: all 0.5s;
}
header{
	height: 65px;
	background: #344;
	/*box-shadow: 1px 2px 3px #ccc;*/
	}
.headerIcon1{
	height: 63px;
	width: auto;
	float: left;
	margin-top: 1px;
	cursor: pointer;
	cursor: hand;
	position: absolute;
}
.headerIcon2{
	height: 63px;
	width: auto;
	display: inline-block;
	float: left;
	margin-top: -1px;
	cursor: pointer;
	cursor: hand;
}
#titlename{
	font: small-caps 22px Aaarghnormal;
	display: inline-block;
	padding-top: 35px;
	margin-top: -15px;
	color: #aaa;
	}
#signout{
	color: #aaa;
	font-family: Aaarghnormal;
	text-align: right;
	padding-right: 70px;
	margin-top: -25px;

	}
.signout1{
	display: inline-block;
	cursor: pointer;
	cursor: hand;
	}
section{
	margin: 0px -8px 0 -8px;
	background-color: #f0faf1;
	min-height: 700px;
	transition: all 0.5s;
	position: relative;
}
.section1{
	margin: 0px -8px 0 -8px;
	background-color: #f0faf1;
	min-height: 700px;
	transform:translateX(21.3%);
	-webkit-transform: translateX(21.3%);
	overflow: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
#sideBorder{
	border-right: 1px solid #ccc;
  	height: auto;
  	padding: 20px 0 20px 50px;
  	margin-right: 5%;
  	float: right;
  	margin-top: -100px;
	}
.newSheet{
  	background-color: #e85657;
	border: 0px solid #e85657;
  	float: left;
  	width: 90px;
  	text-align: center;
  	color: #f0faf1;
  	font-family: arial;
  	padding: 10px;
  	cursor: pointer;
  	cursor: hand;
	}
#maincontainer{
	width: 1300px;
	margin: 0 auto;
	}
#firstPage{
	border: 0px solid #fff;
	background-color: #fff;
	margin: 0 auto;
	width: 58%;
	min-height: 300px;
	box-shadow: 1px 1px 3px 1px #ccc;
	border-radius: 3px;
	padding: 20px;
	}
.history{
	font-family: Aaarghnormal;
	color: #ccc;
	}
#historyhr{
	border: 1px solid #ccc;
	}
#historyContent{
	padding: 2px;
	}
.sheetlist{
	display: inline;
	width: 120px;
	padding: 10px;
	margin: 10px;
	border: 0px solid #ccc;
	background-color: #fff;
	box-shadow: 1px 2px 3px 1px #ccc;
	cursor: pointer;
	cursor: hand;
	color: #4387fd;
	}
#internalFirst{
	padding:20px;
	}
#internalField{
	border: 2px solid #1ecd97;
	margin-top: 30px;
}
#click{
	background-color: #1ecd97;
	padding-top: 2px;
}
#table{
	width: 500px;
	margin: 50px auto;
}
.nameoftable{
	padding: 4px 8px;
	font-family: sans;
	font-size: 15px;
	background-color: #1ecd97;
	color: #f0faf1;
	border: 0 solid #000;
	display: inline;
	font-weight: bold;
}
.button{
	padding: 4px 8px;
	font-family: sans;
	font-size: 15px;
	background-color: #1ecd97;
	color: #f0faf1;
	border: 0 solid #000;
	display: inline;
	cursor: pointer;
	cursor: hand;
}
.button:hover{
	background-color: #f0faf1;
	color: #1ecd97;
	transition: all 0.2s;
}
#autosave{
	font-family: Aaarghnormal;
	color: #344;
	font-size: 15px;
	float: right;
	padding-right: 40px;
}
.bring{
	border: 0 solid #ccc;
	background-color: #e85657;
	width: 244px;
	padding: 10px 13px;
	color: #fff;
	font-family: Aaarghnormal;
	cursor: hand;
	cursor: pointer;
	margin: 30px 15px;
	}
