#tablename, #import1{
	width: 300px;
	min-height: 100px;
	margin: 0 auto;
	vertical-align: middle;
	border: 0px solid #fff;
	background-color: #fff;
	box-shadow: 1px 2px 3px 2px #ccc;
	}
.newsheetheader, .importfrom{
	font-family: Aaarghnormal;
	color: #bb4445;
	font-size: 25px;
	text-align: center;
	padding-top: 20px;
	}
.namebox{
	border: 2px solid #ebd3bd;
	padding: 10px;
	text-align: center;
	font-style: italic;
	color: #bb4445;
	width: 220px;
	margin: 0 27px;
	font-family: Aaarghnormal;
	font-weight: bold;
	}
.create{
	border: 0 solid #ccc;
	background-color: #e85657;
	width: 244px;
	padding: 10px 13px;
	color: #fff;
	font-family: Aaarghnormal;
	cursor: hand;
	cursor: pointer;
	margin: 30px 27px;
	}
.upfile{
	border: 0 solid #ccc;
	background-color: #e85657;
	width: 244px;
	padding: 10px 5px;
	color: #fff;
	font-family: Aaarghnormal;
	cursor: hand;
	cursor: pointer;
	margin: 30px 27px;
	}
